.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* left side */
.a-left{
    gap: 2rem;
}

.a-left > img {
  width: 4rem;
  height: 4rem;
}

.Webname > h1 {
    font-size: 3rem;
    background-color: red;
  
    /* Create the gradient. */
    background-image: var(--buttonBg);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webname>h6{
    font-size: 0.85rem;
}



/* right side */


.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.login-status{
  color: red;
  font-size: 10px;
  text-align: left;
  position: absolute;
  top: -30px;
  left: 10px;
  font-weight: bold;
}
.tele-button {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #0088cc; /* Màu chính của Telegram */
    position: relative;
    outline: none;
}

.tele-button::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff; /* Màu nền của biểu tượng */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tele-button::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/023/986/534/original/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png'); /* Đường dẫn đến biểu tượng Telegram */
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}