.loader-el {
    --origin-x: center;
    --origin-y: center;
    width: 8px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    animation: spin 0.6s linear infinite;
}
.loader .main-text{
    text-align: center;
    width: 70%;
    min-width: 200px;
    margin: auto;
    
}
.loader .sub-text{
    font-size: .8rem;
    font-style: italic;
}
.f5-text{
    color: rgb(255, 61, 61);
}
.loader-el::before, .loader-el::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: spin 1s ease-out infinite;
    transform-origin: var(--origin-x) var(--origin-y);
    background-color: dodgerblue;
}
.loader-el:nth-child(1)::before {
    --origin-y: -100%;
}
.loader-el:nth-child(1)::after {
    --origin-y: 200%;
}
.loader-el:nth-child(2)::before {
    --origin-x: -100%;
}
.loader-el:nth-child(2)::after {
    --origin-x: 200%;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
   }
}
