.Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}
@media only screen and (max-width: 650px) {
  .Home {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 766px) {
  .Home {
    display: flex;
  }
}

.menu-bar{
  position: fixed;
  bottom: 00px;
  width: 100%;
  background-color: var(--inputColor);
  margin: 0 auto;
  padding: 5px 0 10px 0;
}
.mobile-header{
  position: fixed;
  top: 00px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 10px 0;
  background: rgb(255, 255, 255);
  display: flex;
}
.mobile-header .LogoSearch{
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0 10px
}
.menu-bar .navIcons{
  padding: 0 10px;
}
.Home.mobile.tablet{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.Home.mobile.tablet .PostSide{
  width: 100%;
}
