.sentMessage img:hover{
    cursor: pointer;
    transform: scale(1.25);
    color: red;
    filter: drop-shadow(0 1px 1px rgba(0, 66, 248, 0.432));
}
.sentMessage{
    padding: 2px;
    width: 25px;
}
.sentMessage img{
    transition: transform .2s;
}
.follower button{
    /* width: 200px; */
}
.follower > div:first-child{
    width: 200px;
}